---
name: Test Shell Scripts
on:
  pull_request:
  merge_group:
  push:
    branches:
      - master
      - branch-*
  workflow_dispatch:

jobs:
  test-shell-scripts:
    runs-on: github-ubuntu-latest-s
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - uses: ./config-npm
      - uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1
        with:
          version: 2026.1.0
      - name: Run ShellSpec tests
        # FIXME BUILD-8337: improve setup of kcov
        run: |
          curl -L -O https://archive.ubuntu.com/ubuntu/pool/universe/k/kcov/kcov_38+dfsg-1_amd64.deb
          sudo dpkg -i --path-exclude=/usr/share/doc/* --path-exclude=/usr/share/man/* kcov_38+dfsg-1_amd64.deb
          rm kcov_38+dfsg-1_amd64.deb

          ./run_shell_tests.sh
      - name: Vault
        id: secrets
        uses: SonarSource/vault-action-wrapper@545e7cfbb5528e7009a1edcc83e073898d292627 # 3.2.0
        with:
          secrets: |
            development/kv/data/sonarcloud url | SONAR_URL;
            development/kv/data/sonarcloud token | SONAR_TOKEN;
      - name: Sonar Analysis
        if: steps.secrets.outcome == 'success'
        # FIXME BUILD-8337: improve usage of sonar-scanner-cli
        env:
          SONAR_URL: ${{ steps.secrets.outputs.vault && fromJSON(steps.secrets.outputs.vault).SONAR_URL || '' }}
          SONAR_TOKEN: ${{ steps.secrets.outputs.vault && fromJSON(steps.secrets.outputs.vault).SONAR_TOKEN || '' }}
          SONAR_SCANNER_CLI_VERSION: 6.1.0.4477
        run: |
          SCANNER_ZIP="sonar-scanner-cli-${SONAR_SCANNER_CLI_VERSION}-linux-x64.zip"
          curl -L -O "https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/$SCANNER_ZIP"
          unzip "sonar-scanner-cli-${SONAR_SCANNER_CLI_VERSION}-linux-x64.zip"
          mv "sonar-scanner-${SONAR_SCANNER_CLI_VERSION}-linux-x64" sonar-scanner-cli
          chmod +x sonar-scanner-cli/bin/sonar-scanner

          echo "DEBUG: GITHUB_ACTION_PATH=${GITHUB_ACTION_PATH}"
          echo "DEBUG: PWD=$(pwd)"
          mkdir coverage/coverage_data
          sed "s,/${GITHUB_ACTION_PATH}/,/,g" coverage/sonarqube.xml > coverage/coverage_data/sonar_coverage.xml
          ./sonar-scanner-cli/bin/sonar-scanner -X -Dsonar.host.url="${SONAR_URL}" -Dsonar.token="${SONAR_TOKEN}"
